@import "tailwindcss";
@import "../public/css/style.css";
/* .counter {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--accent);
  background: var(--accent-bg);
  border: 2px solid transparent;
  transition: border-color 0.3s;
  margin-bottom: 24px;

  &:hover {
    border-color: var(--accent-border);
  }
  &:focus-visible {
    outline: 2px solid var(--accent);
    outline-offset: 2px;
  }
}

.hero {
  position: relative;

  .base,
  .framework,
  .vite {
    inset-inline: 0;
    margin: 0 auto;
  }

  .base {
    width: 170px;
    position: relative;
    z-index: 0;
  }

  .framework,
  .vite {
    position: absolute;
  }

  .framework {
    z-index: 1;
    top: 34px;
    height: 28px;
    transform: perspective(2000px) rotateZ(300deg) rotateX(44deg) rotateY(39deg)
      scale(1.4);
  }

  .vite {
    z-index: 0;
    top: 107px;
    height: 26px;
    width: auto;
    transform: perspective(2000px) rotateZ(300deg) rotateX(40deg) rotateY(39deg)
      scale(0.8);
  }
}

#center {
  display: flex;
  flex-direction: column;
  gap: 25px;
  place-content: center;
  place-items: center;
  flex-grow: 1;

  @media (max-width: 1024px) {
    padding: 32px 20px 24px;
    gap: 18px;
  }
}

#next-steps {
  display: flex;
  border-top: 1px solid var(--border);
  text-align: left;

  & > div {
    flex: 1 1 0;
    padding: 32px;
    @media (max-width: 1024px) {
      padding: 24px 20px;
    }
  }

  .icon {
    margin-bottom: 16px;
    width: 22px;
    height: 22px;
  }

  @media (max-width: 1024px) {
    flex-direction: column;
    text-align: center;
  }
}

#docs {
  border-right: 1px solid var(--border);

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}

#next-steps ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 8px;
  margin: 32px 0 0;

  .logo {
    height: 18px;
  }

  a {
    color: var(--text-h);
    font-size: 16px;
    border-radius: 6px;
    background: var(--social-bg);
    display: flex;
    padding: 6px 12px;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: var(--shadow);
    }
    .button-icon {
      height: 18px;
      width: 18px;
    }
  }

  @media (max-width: 1024px) {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;

    li {
      flex: 1 1 calc(50% - 8px);
    }

    a {
      width: 100%;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}

#spacer {
  height: 88px;
  border-top: 1px solid var(--border);
  @media (max-width: 1024px) {
    height: 48px;
  }
}

.ticks {
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: -4.5px;
    border: 5px solid transparent;
  }

  &::before {
    left: 0;
    border-left-color: var(--border);
  }
  &::after {
    right: 0;
    border-right-color: var(--border);
  }
} */

/*
Source - https://stackoverflow.com/q/71765281
Posted by Paul, modified by community. See post 'Timeline' for change history
Retrieved 2026-06-13, License - CC BY-SA 4.0
*/

.btn-grad3 {
  background-image: linear-gradient(
    to right,
    #000428 0%,
    #004e92 51%,
    #000428 100%
  );
}

.btn-grad3 {
  margin: 10px;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
  outline: none;
  border: none;
}

.btn-grad3:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@keyframes rotate-infinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-spinner {
  /* هر دور کامل در ۲۰ ثانیه انجام می‌شود - کاملاً آرام و روان */
  animation: rotate-infinite 200s linear infinite;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#f1f1f3, #f8f8fc) padding-box,
    linear-gradient(var(--angle), #cac9c9, #4e5dd0) border-box;
  animation: 3s rotate linear infinite;
}

/* HTML: <div class="rounded-edge"></div> */
.rounded-edge {
  /* height: 200px; */
  
  /* update the 85% to control the curvature
     you can also update the 50% to control the position
  */
  box-shadow: inset 0px 11px 11px -7px rgba(30, 30, 30, 0.5);
  clip-path: ellipse(85% 100% at 50% 0%);
  background: #8e0e00; /* fallback for old browsers */
  background: #ff8008; /* fallback for old browsers */
  background: #4B79A1;  /* fallback for old browsers */
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}  
/* HTML: <div class="rounded-edge"></div> */
.rounded-edge-product {
  aspect-ratio: 3/2;
  /* update the 85% to control the curvature
     you can also update the 50% to control the position
  */
  clip-path: ellipse(100% 85% at 0 50%);
  background: #cc2a41;
}
/* HTML: <div class="vertical-rounded-tab"></div> */
.vertical-rounded-tab {
  --r: 30px; /* control the radius */

  line-height: 1.7; /* control the height */
  padding-inline: 0.5em;
  border-bottom: var(--r) solid #0000;
  border-radius: var(--r) / var(--r) 0 0 calc(2 * var(--r));
  mask: radial-gradient(var(--r) at 0 100%, #0000 98%, #000 101%) 100% 100% /
      var(--r) 100% no-repeat,
    conic-gradient(#000 0 0) padding-box;
  background: #00a0b0 border-box; /* border-box is needed for a gradient coloration */
  width: fit-content;
}

.rounded-edge-footer {
  aspect-ratio: 1/3;
  clip-path: ellipse(100% 85% at 0 50%);
}

.bo:hover .opacit {
  height: 100%;
}
.opacit {
  transition: 0.5s ease;
}

.image {
  -webkit-mask-image: linear-gradient(to left, black 70%, transparent);
  mask-image: linear-gradient(to left, black 80%, transparent);
}
.image-article {
  -webkit-mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 20%,
    black 100%
  );

  mask-image: linear-gradient(
    to left,
    transparent 0%,
    black 20%,
    black 100%
  );
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

/* HTML: <div class="inner-curve"></div> */
.inner-curve {
  --r: 20px; /* control the rounded part */
  --s: 40px; /* control the size of the cut */
  --a: 20deg; /* control the depth of the curvature */
  --p: 50%;
  
  height: 200px;
  aspect-ratio: 3/2;
  border-radius: var(--r);
  --_m: calc(100% - var(--r)), #000 calc(100% - 1px), #0000;
  --_d: (var(--s) + var(--r)) * cos(var(--a));
  mask: radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(
        var(--s) at var(--p) calc(100% + sin(var(--a)) * var(--s)),
        #0000 100%,
        #000 calc(100% + 1px)
      )
      0 calc(var(--r) * (sin(var(--a)) - 1)) no-repeat,
    linear-gradient(
      90deg,
      #000 calc(var(--p) - var(--_d)),
      #0000 0 calc(var(--p) + var(--_d)),
      #000 0
    );
}

.swiper-pagination-bullet {
  background-color: #9ca3af; /* رنگ نقطه‌های غیرفعال */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #96f1b0; /* رنگ نقطه فعال */
}
.bg-style-orange {
/* From https://css.glass */
background: rgba(255, 123, 28, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0.7px);
-webkit-backdrop-filter: blur(0.7px);
border: 1px solid rgba(255, 123, 28, 0.07);
}

.blob {
  aspect-ratio: 1;
  clip-path: shape(
    from 87.45% 45.02%,
    curve to 92.48% 56.45% with 90.99% 50%,
    smooth to 92.05% 69.35%,
    smooth to 82.42% 77.15%,
    smooth to 71.01% 83.22%,
    smooth to 61.91% 91.53%,
    smooth to 49.74% 96.95%,
    smooth to 38.7% 91.46%,
    smooth to 25.99% 85.79%,
    smooth to 15.38% 80.54%,
    smooth to 14.3% 66.9%,
    smooth to 13.33% 55.08%,
    smooth to 11.2% 44.3%,
    smooth to 11.95% 32.32%,
    smooth to 16.84% 21.25%,
    smooth to 27.31% 15.38%,
    smooth to 38.83% 11.12%,
    smooth to 50.39% 5.23%,
    smooth to 62.85% 5.6%,
    smooth to 72.7% 14.03%,
    smooth to 79.11% 24.51%,
    smooth to 82.8% 34.84%,
    smooth to 87.45% 45.02%
  );
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.headphone {
  animation: float 4s ease-in-out infinite;
  filter: drop-shadow(0 35px 45px rgba(242, 0, 0, 1));
}
@keyframes flip {
  0%,
  20% {
    transform: translateY(0);
  }
  25%,
  45% {
    transform: translateY(-48px);
  }
  50%,
  70% {
    transform: translateY(-96px);
  }
  75%,
  95% {
    transform: translateY(-144px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-flip {
  animation: flip 8s ease-in-out infinite;
}
.bg-green{
  /* From https://css.glass */
background: rgba(82, 255, 4, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(82, 255, 4, 0.3);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/* HTML: <div class="squircle"></div> */
.squircle {
  --r: 50%; /* between 0% [square] and 50% [squircle] (you can use pixel as well) */
  
  --_r: clamp(0%,var(--r)/2,25%);
  --_v: calc(var(--_r)*(1 - sqrt(2)/4));
  --_p: calc(var(--_v) - var(--_r)/2);
  clip-path: shape(
    from var(--_v) var(--_p),
    curve to 50% 0 with var(--_r) 0,
    curve to calc(100% - var(--_v)) var(--_p) with calc(100% - var(--_r)) 0,
    curve to calc(100% - var(--_p)) var(--_v) with calc(100% - 2*var(--_p)) calc(2*var(--_p)),
    curve to 100% 50% with 100% var(--_r),
    curve to calc(100% - var(--_p)) calc(100% - var(--_v)) with 100% calc(100% - var(--_r)),
    curve to calc(100% - var(--_v)) calc(100% - var(--_p)) with calc(100% - 2*var(--_p)) calc(100% - 2*var(--_p)),
    curve to 50% 100% with calc(100% - var(--_r)) 100%,
    curve to var(--_v) calc(100% - var(--_p)) with var(--_r) 100%,
    curve to var(--_p) calc(100% - var(--_v)) with calc(2*var(--_p)) calc(100% - 2*var(--_p)),
    curve to 0 50% with 0 calc(100% - var(--_r)),
    curve to var(--_p) var(--_v) with 0 var(--_r),
    curve to var(--_v) var(--_p) with calc(2*var(--_p)) calc(2*var(--_p))
  );
  
  aspect-ratio: 1;
}



/* Use these custom variables... */
:root {
  --polka-bg-image:
    radial-gradient(rgb(255, 255, 255) 27.2%, transparent 27.2%);
  --polka-bg-position: 8px 8px;
  --polka-bg-size: 16px 16px;
  --polka-bg-color: rgb(255, 51, 51);
}

/* ...or add this class to an element */
.polka {
  background-image: 
    radial-gradient(rgba(255, 255, 255, 0.346) 27.2%, transparent 27.2%);
  background-position: 8px 8px;
  background-size: 16px 16px;
  background-color: rgba(255, 51, 51, 0);
}

.bg-glass{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.07);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(255, 255, 255, 0.09);
}

.mySwiper2 {
 
  --swiper-navigation-color: #343333 !important;
  
}

.mySwiper2 .swiper-button-next,
.mySwiper2 .swiper-button-prev {
  padding: 8px;
  background: #ffffff !important;
  border-radius: 50% !important;
}

/* HTML: <div class="curved-edge"></div> */
.curved-edge {
  --c: 100px; /* control the curvature (works with percentage) */
  height: 150px;
  aspect-ratio: 3/2;
  /* you can also update the 60%  */
  mask: radial-gradient(60% var(--c) at top,#0000 calc(100% - 1px),#000);
  background: #8e0e00; /* fallback for old browsers */
  background: #ff8008; /* fallback for old browsers */
  background: #4B79A1;  /* fallback for old browsers */
  background: #2980b9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #2980b9);
}

.bg-color-bg{
  /* From https://css.glass */
  background: rgba(193, 210, 218, 0.13);
  border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.7px);
-webkit-backdrop-filter: blur(2.7px);
border: 1px solid rgba(48, 165, 220, 0.13);
}

.bg-category{
/* From https://css.glass */
background: rgba(0, 0, 0, 0.46);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.6px);
-webkit-backdrop-filter: blur(4.6px);
border: 1px solid rgba(0, 0, 0, 0.1);
}

.wave {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 100px;
  background: linear-gradient(
    90deg,
    #1A2B4D,
    #2980B9
  );

  border-radius: 50% 50% 0 0 / 100% 100% 0 0;
}


